
{% extends 'recipe_base.html' %}

{% block page_content %}
    <h2>Edytuj przepis: {{ recipe.recipe_name }}</h2>

    <form method="POST">
        {% csrf_token %}
        {% for field in recipe_form %}
            <div class="uk-margin">
            <label class="uk-form-label">{{ field.label_tag }}</label>
                <div class="uk-form-controls">
                    {{ field }}
                </div>
                <div class="uk-text-danger uk-margin-small-top">
                    {{ field.errors }}
                </div>
            </div>
        {% endfor %}
        <button type="submit" button class="uk-button uk-button-default uk-button-large">Zapisz zmiany</button>
    </form>
    <div class="uk-margin" style="color: lightseagreen">
        <a href="{% url 'all_recipes_url' %}" style="color: lightseagreen">Powrót do wszystkich przepisów</a>
    </div>
{% endblock %}

