{% extends 'recipe_base.html' %}

{% block page_title %}
    Przepis
{% endblock %}

{% block page_content %}
    <div class="uk-card uk-card-default uk-width-1-2@m">
        <div class="uk-card-header">
            <div class="uk-text-italic uk-text-muted">
                {{ recipe.type_of_meal }}
            </div>
            <div class="uk-width-expand uk-text-bold">
                <h3 class="uk-card-title uk-margin-remove-bottom">{{recipe.recipe_name}}</h3>
            </div>
            <span class="uk-form-label">
                {% if recipe.lactose_free %}
                    <span class="uk-label lactose-free">{{ recipe.lactose_free }}</span>
                {% endif %}

                {% if recipe.gluten_free %}
                    <span class="uk-label gluten-free">{{ recipe.gluten_free }}</span>
                {% endif %}

                {% if recipe.dairy_free %}
                    <span class="uk-label dairy-free">{{ recipe.dairy_free }}</span>
                {% endif %}

                {% if recipe.vegetarian_or_vegan %}
                    <span class="uk-label vegetarian">{{ recipe.vegetarian_or_vegan }}</span>
                {% endif %}

                {% if recipe.meat %}
                    <span class="uk-label meat">{{ recipe.meat }}</span>
                {% endif %}

                {% if recipe.fish %}
                    <span class="uk-label fish">{{ recipe.fish }}</span>
                {% endif %}
            </span>
        </div>

        <div class="uk-card-body">
            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                    {% for image in recipe.images.splitlines %}
                    <img src="{{ recipe.images }}" alt="" uk-cover>
                    <canvas width="600" height="400"></canvas>
                    {% endfor %}
                </div>
                <div>
                    <div class="uk-card uk-card-hover uk-card-body" style="padding: 20px;">
                        <h3 class="uk-text-muted" style="font-size: 16px; font-weight: bold; margin-bottom: 15px;">Informacje o przepisie</h3>
                        <p style="font-size: 14px; margin-bottom: 8px;">
                            <strong>Czas przygotowania:</strong> {{ recipe.preparation_time }} minut
                        </p>
                        <p style="font-size: 14px; margin-bottom: 8px;">
                            <strong>Wartość energetyczna:</strong> {{ recipe.energy_value_kcal }} kcal
                        </p>
                        <p style="font-size: 14px; margin-bottom: 8px;">
                            <strong>Ilość porcji:</strong> {{ recipe.quantity_of_servings }}
                        </p>
                        <p style="font-size: 14px;">
                            <strong>Na jedną porcję:</strong><br>
                                <span style="margin-left: 20px;">Białko: {{ recipe.protein_g }} g</span><br>
                                <span style="margin-left: 20px;">Tłuszcze: {{ recipe.fat_g }} g</span><br>
                                <span style="margin-left: 20px;">Węglowodany: {{ recipe.carbohydrates_g }} g</span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="uk-card uk-card-default uk-card-body ingredients_font uk-width-1-1@m uk-margin" style="padding: 20px;">
                <h3 class="uk-text-muted" style="font-size: 16px; font-weight: bold; margin-bottom: 15px;">Składniki</h3>
                    <ul class="uk-list uk-list-divider uk-text-small" style="line-height: 1.5; padding-left: 20px;">
                        {% for ingredient in recipe.ingredients.splitlines %}
                            <li style="margin-bottom: 10px;">
                            {{ ingredient }}</li>
                        {% endfor %}
                    </ul>
            </div>

            <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m" style="padding: 20px;">
                <h3 class="uk-text-muted" style="font-size: 16px; font-weight: bold; margin-bottom: 15px;">Przygotowanie</h3>
                    <div style="font-size: 14px; line-height: 1.5;">
                    {{ recipe.preparation }}
                    </div>
            </div>
        </div>
{% endblock %}